@charset "utf-8";

body {
	width: 480px;
	margin-left: auto;
	margin-right: auto;
}

	.wrap {
	/* force the div to properly contain the floated images: */
	position: relative;
	clear: none;
	overflow: hidden;
	margin: 5px;
	float: left;
	}
	.wrap img {
	  position:relative;
	  z-index:1;
	}
	.wrap .desc {
	display: block;
	position: absolute;
	width: 100%;
	top: 30%;
	left: 0;
	z-index: 2;
	text-align: center;
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: 0px 0px 5px #000000;
	font-size: 1em;
	}
</style>